[Unit]
Description=Go Binary Service
After=network.target
ConditionPathExists=/path/to/output/db
ConditionPathExists=/path/to/output/log
ConditionPathExists=/path/to/output/videos 

[Service]
WorkingDirectory=/path/to/output
ExecStart=/path/to/output/GoRecordurbate-binary
Restart=on-failure
RestartSec=5s
User=your-username

[Install]
WantedBy=multi-user.target
